<main class="mb-4">
  <div class="container border rounded w-50">
    <h1 class="text-center p-3 mb-5 border border-top-0 border-left-0 border-right-0">Create new Pinned image</h1>
    <%= render(partial: 'form_alert', locals: { item: @pin }) %>
    <%= render(partial: 'pin_form', locals: { pin: @pin }) %>
  </div>
</main>