<main class="mb-5">
  <div class="container">
    <h1>About</h1>
    <p class="h5 mb-4">The Pin Your Images App is meant to create a virtual pinboard for images and photos that you can find online.</p>
    <h2 class="h3">App features</h2>
    <p>As an unregistered user, you can browse already pinned images and see comments. By registering, you can then pin your own images, add already pinned images to your personal pinboard and leave comments on pinned images.</p>
    <h2 class="h3">Context</h2>
    <p>This app was created by <span class="font-weight-bold">Mathieu Clément</span> in the context of the Web Appliaction program of the EPFL Extension School. It is the course project of the third course of the program and it is focused on assessing the Ruby on Rails skills acquired during this course. Basic styling was applied using Bootstrap library.</p>
  </div>
</main>