// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.display-info-on-hover {
  .info {
    display: none;
    background: rgba(#000, .4);
    color: #fff;
  }
  &:hover .info {
    display: block;
  }
}

.no-hover {
  &:hover {
    background: none;
  }
}

.img-small {
  width: 20px;
  height: 20px;
}

.form-control {
  resize: none;
}

@media (min-width: 992px) {
  .mw-lg-75 {
    max-width: 75%;
  }
}

@media (max-width: 767.98px) {
  .separator {
    &::after {
      content: "";
      display: block;
      border: 1px solid #868e96;
      margin-left: 0.5rem;
    }
  }
}
